/* 
font-family: 'Kaushan Script', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; 
*/

$font-Kaushan: 'Kaushan Script', cursive;
$font-merri:'Merriweather', serif;
$font-mont:'Montserrat', sans-serif;
$font-roboto: 'Roboto Slab', serif; 


// CONSTANTES 

.contenedor{
    max-width: 120rem;//se acomoda a 1200px            
    margin-left: auto;
    margin-right: auto;
}