.header{
    background-image: url(../img/header_bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    &__nav{//& --> header
        &__contenedor{
            display: flex;
            justify-content: space-between;
            align-items: center;
           // width: 80%;
            /* max-width: 120rem;//se acomoda a 1200px            
            margin-left: auto;
            margin-right: auto; */
            &--logo{
                color:#fec503;
                font-size: 2.8rem; //28 px
                font-family: $font-Kaushan;
            }
            &__menu{
                display: flex;                
                &__item{     
                    margin: 0 1rem;               
                    &--link{
                        color:white;
                        font-size: 1.4rem;
                        text-transform:uppercase;
                        font-family: $font-mont;
                        padding: 1rem .5rem;                        
                        display: block;// para no sobreponer el bloque
                        transition: all .3s;
                        &:hover{
                            color:#fec503;//Cambiar el color del menu cuando pasa el mouse
                            transition: all .3s; //el tiempo de activacion del menu
                        }
                    }
                }        
            }
        }
    }
    &__bienvenida{
        color: white;
        text-align: center;
        &__contenedor{
            &--subtitulo{
                font-family: $font-mont;
                color: white ;
                font-size: 3.5rem;
              /*   font-style: italic;        */   
            }
            &--titulo{
                font-family: $font-mont;
                font-size: 5.5rem;
                text-transform: uppercase; 
            }
        }
    }
}

